/*-----------global------------*/

:root {
    --main-color: rgb(186, 228, 213);
    --button-color: rgb(86, 195, 199);

}

body {
    overflow-y: scroll;
    overflow-x: hidden;

}

#login {
    background: #59e29e;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #59e29e 0%, #39afc0 50%, #78e3d0 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #59e29e 0%, #39afc0 50%, #78e3d0 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #59e29e 0%, #39afc0 50%, #78e3d0 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59e29e', endColorstr='#78e3d0', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
}


/*---Gertrud arbejder her!!!!!!!!!---*/
/*-----------baggrund------------*/
.page,
.page__content,
.page--material,
.page--material__content {
    background-color: crimson !important;
    background: crimson !important;

}


/*-----------Menu icons------------*/

#profilikon {
    padding-right: 10px;
    padding-top: 5px;
    color: white;
    position: right;

}

#menubars {
    color: white;
    font-size: 25px;
    padding-top: 10px;

}

/*-----------toolbar------------*/

.toolbar {
    background-color: rgb(186, 228, 213, 0.5) !important;
}


/*---------- shit menu bar slider -------------*/
.center {
    color: var(--main-color);
    text-decoration-line: underline;
    text-align: center;
    height: 70px;

}

.page__background {
    width: 0%;

}

.page__content {}

.list-header,
.list-item--expandable,
.list-item__center,
.list-item__right {
    background-size: 100% 10px;
}

/**---------søge avlspartner siden---------**/
#sg_avlspartner.html {}

#gridAnimals {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    margin-top: 15px;
    justify-content: space-between;
    margin-left: 25px;
    margin-right: 25px;
}

.imgContainer {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 5%;
}

.imgContainer img {
    height: 110%;
    transform: translate(-10%, -10%);
}

.textContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    color: var(--button-color);
    margin-top: -10px;
    margin-bottom: 15px;
}

#gridAnimals h3 {
   position: absolute;
    margin-top: -50px;
    margin-left: 15px;
    background-color: rgb(255, 255, 255, 0.9);
    padding: 8px;
    border-radius: 10px;
    color: var(--button-color);
    font-size: 16px;
}

/**-------search bar & filter knap-------**/

#searchButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


#barSearch {
    margin-right: 15px;
    color: var(--main-color);

}

#filterButton {
    background-color: var(--button-color);
    width: 100px;
    height: 40px;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    color: white;
    text-align: center;
    font-size: 18px;
}

#gridAnimals {}

/* ------------ profil ----------- */
#background-color {
    width: 100%;
    display: block;
    position: relative;
    height: 150px;

}

.profil-image {
    position: absolute;
    width: 150px;
    margin: -90px 0 0 130px;
    border: 5px solid white;
    border-radius: 600px;


}

#persona-name {
    text-align: center;
    margin: 80px 0 0 0;
    font-size: 25px;
    color: #58c4c8;

}

#persona-p {

    text-align: center;
    padding: 0 50px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;

    padding: 0 50px;
    font-size: 12px;
    font-weight: 300;
    line-height: 1.6;

}


.flex-container {
    display: flex;


}

.icons {
    margin-left: 75px;
   
}

#icon-comment, #icon-heart, #icon-star {
	color: rgb(186, 228, 213, 0.5) !important;
}

.feedbacks {
    margin-left: 20px;
    color: #58c4c8;
}

#oversigt {
    font-size: 20px;
    margin-left: 20px;
    color: #58c4c8;
}

.opslag {
    width: 180px;
    height: 150px;
    margin: 0 12px;
    border-radius: 20px;
}

.description {
    margin: -1px 20px;
    color: #58c4c8;
    font-size: 14px;
}
